{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}

<section class="container my-3">
    <div class="row">
        <div class="col">
                <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de passe</h1>
                {{ form_start(passwordForm) }}
                {{ form_row(passwordForm.email) }}
                <button type="submit" class="btn btn-primary btn-lg my-3">Envoyer</button>
                {{ form_end(passwordForm) }}
        </div>
    </div>
</section>

{% endblock %}
