<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			<p>Colonne 1</p>
		</section>
		<section class="col">
			<p>Colonne 2</p>
		</section>
		<section class="col">
			<p>Colonne 3</p>
		</section>
	</div>
</footer>
