{% extends "base.html.twig" %}

{% block title %}Produits{% endblock %}

{% block body %}
<section class="container  my-3">
    <div class="row">
        <div class="col">
            <h1 class="h3 mb-3 font-weight-normal">Liste des produits</h1>
        </div>
    </div>
</section>
{% endblock %}