{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block body %}

<section class="container my-3">
	<div class="row">
		<div class="col-12">
			<h1 class="h3 mb-3 font-weight-normal">Erreur 403</h1>
            <p>Vous n'avez pas la permission d'accéder à cette page</p>
		</div>
    </div>
</section>

{% endblock %}