<div class="container">
    <h1>Réinitialisation de mot de passe</h1>
    <p>Bonjour {{ user.firstname }} {{ user.lastname }}</p>
    <p>Afin de réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
    <p><a href="{{ url|raw }}">Lien</a></p>
    <p>Merci</p>
</div>